<div class=" first text-center">
  <div class="container">
    <div class="slider_info2">
      <h1 class="font_header">Reinterpreted </h1>
      <h2 class="title-xlarge font_header_larg">TRUE ITALIAN CUISINE </h2>
      <div class="stars">
        <img src="/assets/stars.jpg" alt="">
      </div>
      <p>Our daily challenge: highest quality ingredients according to traditional recipes freshly interpreted and
        served with a lot of passion for the guest! Enjoy fine Mediterranean cuisine and exquisite service. We
        are very pleased to welcome you as guests in our restaurant.</p>
      <a href="#">discover our story</a>
    </div>
  </div>
</div>
