<div class="Delicious text-center">
  <div class="container">
    <div class="Delicious_info">
      <h1 class="font_header"><%= t(:our_lab)%> </h1>
      <h5 class=""><%= t(:our_lab_body_html)%></h5>
    </div>
  </div>
</div>
