<div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container text-center" data-alias="layer-animations"
     style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
  <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
  <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
    <ul>
      <!-- first slider  -->
      <li data-index="rs-218" data-transition="incube" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut"
          data-masterspeed="default" data-thumb="mainSlider.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500"
          data-fsslotamount="7" data-saveperformance="off" data-title="Slide" data-description="" data-hideslideonmobile="off">
        <!-- MAIN IMAGE -->
        <img src="<%= asset_path 'mainSlider.jpg'%>" alt="" title="Restaurant" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
             class="rev-slidebg" data-no-retina>

        <!-- LAYER NR. 1 -->

        <div class="tp-caption   tp-resizeme" id="slide-218-layer-1" data-x="center" data-hoffset="-233" data-y="292" data-width="['372']"
             data-height="['134']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[100%];opacity:1;","mask":"x:[-100%];y:-10px;","speed":2000,"to":"o:1;","delay":670.00030517578,"ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; min-width: 372px; max-width: 372px; max-width: 134px; max-width: 134px; white-space: normal; font-size: 100px; line-height: 130px; font-weight: 400; color: rgba(223,142,48,1);font-family:Herr Von Muellerhoff;">
          Ocean Food</div>
        <div class="tp-caption   tp-resizeme" id="slide-218-layer-2" data-x="50" data-y="417" data-width="['auto']" data-height="['auto']"
             data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1600,"to":"o:1;","delay":1500.0003051758,"split":"chars","splitdelay":0.1,"ease":"Power3.easeInOut"},{"delay":"wait","speed":710,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(38,38,38,1);font-family:Montserrat;">FROM 7PM</div>
        <div class="tp-caption   tp-resizeme" id="slide-218-layer-7" data-x="470" data-y="417" data-width="['auto']" data-height="['auto']"
             data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1600,"to":"o:1;","delay":2020.0003051758,"split":"chars","splitdelay":0.1,"ease":"Power3.easeInOut"},{"delay":"wait","speed":800,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(38,38,38,1);font-family:Montserrat;">SALE</div>
        <div class="tp-caption   tp-resizeme" id="slide-218-layer-6" data-x="350" data-y="417" data-width="['auto']" data-height="['auto']"
             data-type="text" data-responsive_offset="on" data-frames='[{"from":"rX:3000deg;opacity:0;","speed":3000,"to":"o:1;","delay":3070.0003051758,"split":"chars","splitdelay":0.2,"ease":"Power4.easeOut"},{"delay":"wait","speed":710,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(38,38,38,1);font-family:Montserrat;">50%</div>
        <div class="tp-caption   tp-resizeme" id="slide-218-layer-3" data-x="262" data-y="490" data-width="['none','none','none','none']"
             data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"sX:4;opacity:0;","speed":1510,"to":"o:1;","delay":4690.0003051758,"ease":"Power4.easeInOut"},{"delay":"wait","speed":800,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;">
          <img src="<%= asset_path 'stars.jpg'%>" alt="" data-ww="67px" data-hh="8px" width="67" height="8" data-no-retina></div>
        <div class="tp-caption   tp-resizeme" id="slide-218-layer-4" data-x="center" data-hoffset="-225" data-y="518" data-width="['396']"
             data-height="['57']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[-100%];rZ:-90deg;opacity:0;","mask":"x:0;y:0;","speed":2000,"to":"o:1;","delay":2270.0003051758,"split":"words","splitdelay":0.15,"ease":"Power2.easeInOut"},{"delay":"wait","speed":910,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; min-width: 396px; max-width: 396px; max-width: 57px; max-width: 57px; white-space: normal; font-size: 16px; line-height: 22px; font-weight: 400; color: rgba(38,38,38,1);">We offer to our guests only fresh products, and we have new fish everyday.</div>
        <div class="tp-caption   tp-resizeme" id="slide-218-layer-5" data-x="center" data-hoffset="-227" data-y="595" data-width="['265']"
             data-height="['23']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:-70px;opacity:0;","speed":1510,"to":"o:1;","delay":5180.0003051758,"ease":"Elastic.easeOut"},{"delay":"wait","speed":1000,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; min-width: 265px; max-width: 265px; max-width: 23px; max-width: 23px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1);">
          <div class="title-h6" style="text-align: center; max-width: 590px; margin: 0 auto;"><a href="#"><span style="color: #ecbb83; text-decoration: underline; text-transform: uppercase;">discover more</span></a></div>
        </div>
      </li>

      <!-- Seconde Slider -->
      <li data-index="rs-219" data-transition="incube" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
          data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="mainSlider2.jpg"
          data-delay="8020" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
          data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
          data-param10="" data-description="">
        <img src="<%= asset_path 'mainSlider2.jpg'%>" alt="" title="Restaurant" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
             class="rev-slidebg" data-no-retina>
        <div class="tp-caption   tp-resizeme" id="slide-219-layer-1" data-x="center" data-hoffset="-230" data-y="288" data-width="['328']"
             data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[100%];opacity:1;","mask":"x:[-100%];y:-10px;","speed":2000,"to":"o:1;","delay":670.00030517578,"ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12; min-width: 328px; max-width: 328px; white-space: normal; font-size: 100px; line-height: 120px; font-weight: 400; color: rgba(223,142,48,1);font-family:Herr Von Muellerhoff;">Fresh Offer</div>
        <div class="tp-caption   tp-resizeme" id="slide-219-layer-2" data-x="20" data-y="411" data-width="['auto']" data-height="['auto']"
             data-type="text" data-responsive_offset="on" data-frames='[{"from":"rX:3000deg;opacity:0;","speed":3000,"to":"o:1;","delay":2590.0003051758,"split":"chars","splitdelay":0.2,"ease":"Power4.easeOut"},{"delay":"wait","speed":680,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(38,38,38,1);font-family:Montserrat;">-15%</div>
        <div class="tp-caption   tp-resizeme" id="slide-219-layer-6" data-x="150" data-y="411" data-width="['310']" data-height="['50']"
             data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1600,"to":"o:1;","delay":1520.0003051758,"split":"chars","splitdelay":0.1,"ease":"Power3.easeInOut"},{"delay":"wait","speed":800,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; min-width: 310px; max-width: 310px; max-width: 50px; max-width: 50px; white-space: normal; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(38,38,38,1);font-family:Montserrat;">ON SALADS</div>
        <div class="tp-caption   tp-resizeme" id="slide-219-layer-3" data-x="200" data-y="490" data-width="['none','none','none','none']"
             data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"sX:4;opacity:0;","speed":1510,"to":"o:1;","delay":4660.0003051758,"ease":"Power4.easeInOut"},{"delay":"wait","speed":910,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;">
          <img src="<%= asset_path 'stars.jpg'%> " alt="" data-ww="67px" data-hh="8px" width="67" height="8" data-no-retina></div>
        <div class="tp-caption   tp-resizeme" id="slide-219-layer-4" data-x="10" data-y="523" data-width="['426']" data-height="['54']"
             data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[-100%];rZ:-90deg;opacity:0;","mask":"x:0;y:0;","speed":2000,"to":"o:1;","delay":2330.0003051758,"split":"words","splitdelay":0.15,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16; min-width: 426px; max-width: 426px; max-width: 54px; max-width: 54px; white-space: normal; font-size: 16px; line-height: 22px; font-weight: 400; color: rgba(38,38,38,1);font-family:Source Sans Pro;">The Best time to eat halthy and at the same time delishes dishes in our authentic Italian Ristorante</div>
        <div class="tp-caption   tp-resizeme" id="slide-218-layer-5" data-x="100" data-hoffset="-227" data-y="595" data-width="['265']"
             data-height="['23']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:-70px;opacity:0;","speed":1510,"to":"o:1;","delay":5180.0003051758,"ease":"Elastic.easeOut"},{"delay":"wait","speed":1000,"to":"rZ:0deg;sX:0.5;sY:0.5;opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; min-width: 265px; max-width: 265px; max-width: 23px; max-width: 23px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1);">
          <div class="title-h6" style="text-align: center; max-width: 590px; margin: 0 auto;"><a href="#"><span style="color: #ecbb83; text-decoration: underline; text-transform: uppercase;">discover more</span></a></div>
        </div>
      </li>
    </ul>
    <div class="tp-static-layers">

      <!-- LAYER NR. 1 -->

    </div>
    <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
  </div>
</div>
<!-- END REVOLUTION SLIDER -->


<!-- End Slider -->