<div class="full">
  <div class="container">
    <div class="row">
      <div class="text-center full_info section">
        <h1 class="font_header">Discover </h1>
        <h2 class="title-xlarge font_header_larg"> full menu pdf </h2>
        <a href="#" class="reserve_btn reserve_btn2">discover menu</a>
        <div class="stars">
          <img src="<%= asset_path 'stars.jpg'%>" alt="">
        </div>
        <p>Discover all our perfect dishes, crafted with love! </p>
      </div>
    </div>
  </div>
</div>
ยง