/*
 * require bootstrap.min
 *= require font-awesome.min
 *= require animate
 *= require owl.carousel
 *= require owl.theme
 *= require toastr
 *= require bootsnav
 *= require navigation
 *= require settings
 *= require products
 *= require carts
 * require style
 *= require responsive
 *  require_tree ./frontend
 * require_self
 */

/* Start Whatsapp */

#whatsapp {
    bottom: 10px;
    left: 10px;
    position: fixed;
    z-index: 99999999;
  }
  
  #whatsapp a {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 25px;
    font-size: 13px;
    line-height: 32px;
  }
  
  /* End Whatsapp */