.edit-quantity-form {
	label {
		margin-top: 10px;
	}
}

.header-top {
	.nav-collapse {
		color: #fff;
	}
}

@media (max-width: 767px) {
	.row.pro-view .col-xs-6:nth-child(2n) {
		clear: left;
	}
}

@media (min-width: 768px) {
	.row.pro-view .col-md-3:nth-child(4n+2) {
		clear: left;
	}
}


.category-view {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 30px;
}

.category-view .category-item {
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}

.category-view a {
    background-color: rgba(255, 167, 66, 0.8);
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
    color: #fff;
}

.category-view a.active {
    background-color: #ffa742;
}